[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/ShanthiPederedla
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ShanthiPederedla
	label-Verified = -1..+1 group user/ShanthiPederedla
	push = group user/ShanthiPederedla
	read = group user/ShanthiPederedla
	rebase = group user/ShanthiPederedla
	removeReviewer = group user/ShanthiPederedla
	submit = group user/ShanthiPederedla
[access "refs/heads/*"]
	create = group user/ShanthiPederedla
	push = +force group user/ShanthiPederedla
	pushMerge = group user/ShanthiPederedla
	read = group user/ShanthiPederedla
[access "refs/tags/*"]
	push = group user/ShanthiPederedla
	push = +force group user/ShanthiPederedla
